#contenu{
    height:100%;
    width:97%;

    
    font:12px arial;
}
 
#gauche{   
    clear: both;
     padding-top: 2%;
     padding-bottom: 5%;
     padding-left: 1%;


    float:left;
    width:45%;
    height:95%;
    padding-right: 3%;
    text-align: left;
}
 
#droite{
    padding-top: 2%;
    padding-bottom: 5%;
padding-left: 2%;
    float:right;
    width:45%;
    height:95%;
    padding-right: 3%;
    border-left:3px solid mediumvioletred;

    text-align: left;
}